.allt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 12px;
    padding: 20px; /* Lägger till lite padding runt containerns innehåll */
  }
