<ng-container *ngIf="this.personId; else noPersonSelected">
  <div class="body">
    <h1>Checklista</h1>
    <h4>Här får du en introduktion som nyanställd</h4>
  </div>


  <ng-container *ngFor="let type of taskTypes">
    <app-expansion-panel [personTasks]="personTasks" [taskType]="type"
      (taskStatusChanged)="updateTaskStatus($event)"></app-expansion-panel>
  </ng-container>
</ng-container>

<ng-template #noPersonSelected>
  <div class="body">
    <h1>Checklista</h1>
    <h4>Logga in för att se din checklista.</h4>
  </div>
</ng-template>