<ng-container *ngIf="person; else noPersonSelected">
  <ng-container *ngIf="person.mentee">
    <div class="body">
      <h1>Buddylista</h1>
      <h4>Här är din Buddy-checklista</h4>
    </div>

    <ng-container *ngFor="let type of buddyTaskTypes">
      <app-expansion-panel [personTasks]="buddyTasks" [taskType]="type"
        (taskStatusChanged)="updateTaskStatus($event)"></app-expansion-panel>
    </ng-container>
  </ng-container>

  <ng-container>
    <div class="body">
      <h1>Checklista</h1>
      <h4>{{ checklistDescription }}</h4>
    </div>

    <ng-container *ngFor="let type of taskTypes">
      <app-expansion-panel [personTasks]="personTasks" [taskType]="type"
        (taskStatusChanged)="updateTaskStatus($event)"></app-expansion-panel>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #noPersonSelected>
  <div class="body">
    <h1>Checklista</h1>
    <h4>Logga in för att se din checklista.</h4>
  </div>
</ng-template>