
<div class="carousel" [style.--total-slides]="totalSlides">
  <div class="carousel-container">
    <div *ngFor="let slide of slides; let i = index" class="carousel-item" [style.z-index]="totalSlides - i" [class.active]="isActive === (i + 1)">
      <h1 *ngIf="i === 0 && slide.title === 'PLACEHOLDER'">Hej {{ selectedPersonName$ | async }}!</h1>
      <h1 *ngIf="!(i === 0 && slide.title === 'PLACEHOLDER')">{{ slide.title }}</h1>

      <div class="item-content">
        <img [src]="slide.imagePath" alt="" />
        <div>
          {{ slide.content }}
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-control">
    <button
      mat-raised-button
      color="secondary"
      class="carousel-control pre"
      (click)="pre()">
      Tillbaka
    </button>
    <button
      mat-raised-button
      color="primary"
      class="carousel-control next"
      (click)="next()">
      Nästa
    </button>

    <div class="agree" *ngIf="isActive === totalSlides">
      <button mat-raised-button color="primary" routerLink="/checklist">
        Gå till checklistan
      </button>
    </div>
    <div class="activeNr">{{ isActive }}/{{ totalSlides }}</div>
  </div>
</div>
