<ng-container>
  <ng-container class="task-list">
    <h2>Lägg till/redigera task</h2>
    <form [formGroup]="taskForm" #myForm="ngForm" (ngSubmit)="save(); myForm.resetForm()">
      <mat-form-field>
        <mat-label>Kategori</mat-label>
        <mat-select MatFormFieldControl (selectionChange)="filterTasks()" formControlName="type" required>
          <mat-option [value]="null"></mat-option>
          <mat-option *ngFor="let type of taskTypes" [value]="type">
            {{ type.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-form-error-message [control]="taskForm.get('type')"></app-form-error-message>

      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Titel</mat-label>
        <input MatFormFieldControl matInput id="task-title" formControlName="title" placeholder="Ange titel" required />
      </mat-form-field>
      <app-form-error-message [control]="taskForm.get('title')"></app-form-error-message>

      <mat-form-field appearance="outline" class="form-group">
        <mat-label>URL</mat-label>
        <input MatFormFieldControl matInput id="task-url" formControlName="url" placeholder="Ange URL" />
      </mat-form-field>
      <app-form-error-message [control]="taskForm.get('url')"></app-form-error-message>

      <mat-form-field id="description" appearance="outline" class="form-group">
        <mat-label>Beskrivning</mat-label>
        <textarea style="white-space: pre-wrap;" MatFormFieldControl matInput id="task-description"
          formControlName="description" required placeholder="Ange beskrivning"></textarea>
      </mat-form-field>
      <app-form-error-message [control]="taskForm.get('description')"></app-form-error-message>

      <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid">Spara</button>
    </form>
  </ng-container>

  <!-- Show tasks based on selected taskType-->
  <ng-container *ngFor="let task of filteredTasks">
    <div class="task-row">
      <div class="task">
        <div class="task-text">

          <p class="title">
            <ng-container *ngIf="task.url; else noLink">
              <a [attr.href]="task.url" target="_blank">{{ task.title }}</a>
            </ng-container>
            <ng-template #noLink>
              {{ task.title }}
            </ng-template>
            <button mat-button color="primary" (click)="select(task)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button color="warn" (click)="deleteTask(task.id)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </p>

          <p class="description">
            {{ task.description }}
          </p>

        </div>
      </div>
    </div>
  </ng-container>
</ng-container>