<ng-container *ngIf="person">
  <ng-container class="task-list" *ngIf="newTask">
    <h2>Lägg till task</h2>
    <form [formGroup]="TaskForm" (ngSubmit)="save(person.id, newTask)">
      <mat-form-field>
        <mat-label>Tasktyp</mat-label>
        <mat-select MatFormFieldControl [(value)]="newTask.taskType" (selectionChange)="filterTasks()"
          formControlName="taskType" required>
          <mat-option *ngFor="let taskType of taskTypes" [value]="taskType">
            {{ 'taskType.' + taskType | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Titel</mat-label>
        <input MatFormFieldControl matInput id="task-urltitle" [(ngModel)]="newTask.urltitle" formControlName="urltitle"
          placeholder="Ange titel" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Beskrivning</mat-label>
        <input MatFormFieldControl matInput id="task-description" [(ngModel)]="newTask.description"
          formControlName="description" required placeholder="Ange beskrivning" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-group">
        <mat-label>URL</mat-label>
        <input MatFormFieldControl matInput id="task-url" [(ngModel)]="newTask.url" formControlName="url"
          placeholder="Ange URL" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Add task</button>
    </form>
  </ng-container>

  <!-- Show tasks based on selected taskType-->
  <ng-container *ngFor="let task of filteredTasks">
    <div class="task-row">
      <div class="task">
        <div class="task-text">

          <p>
            <ng-container *ngIf="task.url; else noLink">
              <a [attr.href]="task.url" target="_blank">{{ task.urltitle }}</a>
              <mat-icon (click)="deleteTask(person.id, task.id!)">delete_forever</mat-icon>
            </ng-container>
            <ng-template #noLink>
              {{ task.urltitle }}
              <mat-icon (click)="deleteTask(person.id, task.id!)">delete_forever</mat-icon>
            </ng-template>
          </p>

          <p class="description">
            {{ task.description }}
          </p>

        </div>
      </div>
    </div>
  </ng-container>
</ng-container>