<div class="header">
  <img class="image-2" src="../../assets/image-2.png" />
  <div class="horizontal-container">
    <div class="paragraph-container">
      <button mat-button routerLink="/home" class="hem">Hem</button>

      <button mat-button routerLink="/checklist" class="checklista">
        Checklista
      </button>

      <button mat-button routerLink="/links" class="l-nkar">Länkar</button>
      <button mat-button routerLink="/knowledge" class="kunskap">Kunskap</button>
    </div>

    <div class="button-container">
      <button
        mat-raised-button
        color="primary"
        routerLink="/login"
        class="loginButton"
      >
        Albin Flemström
      </button>
    </div>
  </div>
</div>
