.header,
.header * {
  box-sizing: border-box;
}
.header {
  background: var(--color-palette-white-background, #ffffff);
  padding: 0px 100px 0px 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 550px;
  height: 75px;
  position: relative;
  box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(12px);
}

.image {
  flex-shrink: 0;
  width: 146px;
  height: 27px;
  position: relative;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  gap: 49px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.paragraph-container {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

button {
  color: var(--tonalpalette-primary-primary-900, #0f0b2e);
  text-align: center;
  font: var(--body-bodylarge-16-medium, 500 16px/25px "Inter", sans-serif);
  position: relative;
}

   .kunskap {
      color: var(--tonalpalette-primary-primary-900, #0f0b2e);
       text-align: center;
       font: var(--body-bodylarge-16-medium, 500 16px/25px 'Inter', sans-serif);
       position: relative;
      }
.admin-page {
   color: var(--tonalpalette-primary-primary-900, #0f0b2e);
    text-align: center;
    font: var(--body-bodylarge-16-medium, 500 16px/25px 'Inter', sans-serif);
    position: relative;
   }

.button-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.admin-page {
  background-color: transparent;
  border: none;
  color: transparent;
  cursor: default;
  font-size: 1px; // To ensure a small clickable area
}

.admin-page:hover {
  color: red;
}
