<div class="header">
  <a [routerLink]="['/home']">
    <img class="image"  src="../../assets/image-2.png"  />
  </a>

  <div class="horizontal-container">
    <div class="paragraph-container">


      <button mat-button routerLink="/checklist" class="checklista">
        Checklista
      </button>

      <button mat-button routerLink="/links" class="l-nkar">Länkar</button>

      <button mat-button routerLink="/knowledge" class="kunskap">
        Kunskap
      </button>



    <div class="button-container">
      <button mat-raised-button color="primary" routerLink="/login" class="loginButton">
        <!-- {{ selectedPersonName || 'Login' }} -->
        {{selectedPersonName$ | async }}
      </button>

      <button  routerLink="/admin-page" class="admin-page">
       admin
      </button>
      </div>
    </div>
  </div>
</div>
