
<div class="header" >
    <img class="image-2" src="../../assets/image-2.png" /> 
    <div class="horizontal-container" >
          <div class="paragraph-container" >
                <div class="hem" >
Hem </div>
                <div class="checklista" >
Checklista </div>
                <div class="l-nkar" >
Länkar </div>
          </div>
          <div class="button-container" >
                <div class="button" >
                      <div class="albin-flemstr-m" >
Albin Flemström </div>
                </div>
          </div>
    </div>
</div>
<router-outlet></router-outlet>
