.container {
  display: flex;
  flex-direction: row;
  gap: 45px;
  align-items: center;
  margin-bottom: 50px;
  background: #ffffff;
  border-radius: 12px;
  padding: 25px;
}

.img {
  border-radius: 23px;
  width: 100%;
  max-width: 507px;
  height: auto;
}

.textbox {
  display: flex;
  flex-direction: column;
  gap: 49px;
  width: 80%;
  max-width: 400px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: 40px;
  text-align: left;

}

.text {
  color: #000000;
  text-align: left;
  max-width: 100%;

}

/* Media Queries for smaller screens */
@media only screen and (max-width: 768px) {
  .title {
      font-size: 30px;
  }
  .text {
      font-size: 18px;
  }
  .container {
      margin: 0 auto;
      flex-direction: column;
      padding: 35px;
      width: 65%;
      justify-content: center;
  }
}
