.container {
  display: flex;
  flex-direction: row;
  gap: 45px;
  align-items: center;
  margin-bottom: 50px;
  background: #ffffff;
  border-radius: 12px;
  padding: 25px;
}

.img {
  border-radius: 23px;
  width: 100%; /* image will take full width of container */
  max-width: 507px; /* won't exceed this width */
  height: auto; /* maintain aspect ratio */
}

.textbox {
  display: flex;
  flex-direction: column;
  gap: 49px;
  align-items: center; /* added to center content */
  width: 80%; /* take up 80% of container width */
  max-width: 400px; /* won't exceed this width */
}

.title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center; /* changed from flex-start */
  justify-content: center; /* changed from flex-start */
  font-size: 40px;
}

.text {
  color: #000000;
  text-align: left;
  font: var(--xlent, 400 20px/28px "Franklin Gothic Book", sans-serif);
  max-width: 100%; /* changed from 400px, will adapt to parent's width */
  
}

/* Media Queries for smaller screens */
@media only screen and (max-width: 768px) {
  .title {
      font-size: 30px;
  }
  .text {
      font-size: 18px;
  }
  .container {
      flex-direction: column;
      padding: 35px;
  }
}
