<div class="container">
    <img class="img" src="../../../assets/image 5.png"/>
    <div class="textbox">
     <div class="title">
        Om XLNT
     </div>
     <div class="text">
      Lorem ipsum dolor sit amet consectetur. Amet elementum nec lectus
           donec augue dis urna non nam. Integer interdum ut sit condimentum
           neque. Tincidunt ullamcorper tellus aliquet erat vitae fermentum ut.
           Pellentesque in pharetra pellentesque sapien tristique. Blandit
           semper.
     </div>
    </div>
   </div>