


.container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;

  justify-content: center;
  flex-wrap: wrap;
  align-self: stretch;
  flex: 1;
  position: relative;
}



// .titel {
//   display: flex;
//   flex-direction: row;
//   gap: 276px;
//   align-items: flex-start;
//   justify-content: flex-start;
//   flex-shrink: 0;
//   position: relative;
//   margin-top: 50px;
// }
// .titlar {
//   flex-shrink: 0;
//   width: 588px;
//   height: 178px;
//   position: static;
// }
// .titel-rubrik {
//   color: var(--tonalpalette-primary-primary-900, #0f0b2e);
//   text-align: left;
//   font: 400 72px/90px "Franklin Gothic Demi", sans-serif;
//   position: absolute;
//   left: 0px;
//   top: 0px;
//   width: 588px;
// }
// .titel-underrubrik {
//   color: var(--tonalpalette-primary-primary-900, #0f0b2e);
//   text-align: left;
//   font: 400 20px/32px "Franklin Gothic Book", sans-serif;
//   position: absolute;
//   left: 0px;
//   top: 180px;
//   width: 497px;
// }
// .image-4 {
//   flex-shrink: 0;
//   width: 342px;
//   height: 307px;
//   position: relative;
// }

// .img {
//   border-radius: 23px;
//   flex-shrink: 0;
//   width: 507px;
//   height: 285px;
//   position: absolute;
//   left: 107px;
//   top: calc(50% - 142.5px);
// }
// .textbox {
//   display: flex;
//   flex-direction: column;
//   gap: 49px;
//   position: absolute;
//   left: 739px;
//   top: calc(50% - 139.5px);
// }
// .title {
//   display: flex;
//   flex-direction: column;
//   gap: 16px;
//   align-items: flex-start;
//   justify-content: flex-start;
//   flex-shrink: 0;
//   position: relative;
//   font-size: 40px;
// }

// .text {
//   color: #000000;
//   text-align: left;
//   font: var(--xlent, 400 20px/28px "Franklin Gothic Book", sans-serif);
//   position: relative;
//   width: 400px;
//   height: 185px;
// }


// .walkthrough {
//   background: var(--color-palette-white-background, #ffffff);
//   border-radius: 12px;
//   padding: 64px 30px 64px 87px;
//   display: flex;
//   flex-direction: column;
//   gap: 17px;
//   align-items: flex-start;
//   justify-content: flex-start;
//   flex-shrink: 0;
//   position: relative;
// }
// .benefits {
//   display: flex;
//   flex-direction: row;
//   gap: 70px;
//   align-items: center;
//   //justify-content: center;
//   flex-shrink: 0;
//   width: 1097px;
//   height: 120px;
//   position: relative;
// }
// .container-1 {
//   display: flex;
//   flex-direction: column;
//   gap: 16px;
//   align-items: flex-start;
//   justify-content: center;
//   flex-shrink: 0;
//   position: relative;
// }
// .text-label {
//   display: flex;
//   flex-direction: row;
//   gap: 8px;
//   align-items: center;
//   justify-content: flex-start;
//   flex-shrink: 0;
//   position: relative;
//   transform-origin: 0 0;
//   transform: rotate(-0.013deg) scale(1, 1);
// }
// .directions-walk {
//   flex-shrink: 0;
//   position: relative;
//   transform: translate(0px, 0px);
//   overflow: visible;
// }
// .genomg-ng {
//   color: var(--third, #000000);
//   text-align: left;

//   position: relative;
// }
// .text-1 {
//   color: var(--third, #000000);
//   text-align: left;

//   position: relative;
//   width: 315px;
// }
// .container-2 {
//   display: flex;
//   flex-direction: column;
//   gap: 16px;
//   align-items: flex-start;
//   justify-content: center;
//   flex-shrink: 0;
//   width: 315px;
//   position: relative;
// }
// .checklista {
//   display: flex;
//   flex-direction: row;
//   gap: 8px;
//   align-items: center;
//   justify-content: flex-start;
//   flex-shrink: 0;
//   position: relative;
//   transform-origin: 0 0;
//   transform: rotate(-0.013deg) scale(1, 1);
// }
// .fact-check {
//   flex-shrink: 0;
//   width: 32px;
//   height: 32px;
//   position: relative;
//   transform-origin: 0 0;
//   transform: rotate(0.013deg) scale(1, 1);
//   overflow: hidden;
// }
// .group {
//   position: absolute;
//   left: 0px;
//   top: 0px;
//   overflow: visible;
// }
// .group2 {
//   position: absolute;
//   inset: 0;
// }
// .group3 {
//   position: absolute;
//   left: 2.67px;
//   top: 4px;
//   overflow: visible;
// }
// .checklistan {
//   color: var(--third, #000000);
//   text-align: left;

//   position: relative;
// }
// .text-2 {
//   color: var(--third, #000000);
//   text-align: left;

//   position: relative;
//   width: 318px;
// }
// .container2 {
//   display: flex;
//   flex-direction: column;
//   gap: 16px;
//   align-items: flex-start;
//   justify-content: flex-start;
//   flex-shrink: 0;
//   position: relative;
// }
// .text-label2 {
//   display: flex;
//   flex-direction: row;
//   gap: 8px;
//   align-items: center;
//   justify-content: center;
//   flex-shrink: 0;
//   position: relative;
//   transform-origin: 0 0;
//   transform: rotate(-0.013deg) scale(1, 1);
// }
// .vector5 {
//   flex-shrink: 0;
//   position: relative;
//   transform: translate(0px, 0px);
//   overflow: visible;
// }
// .l-nkar {
//   color: var(--third, #000000);
//   text-align: left;

//   position: relative;
// }
// .text-3 {
//   color: var(--third, #000000);
//   text-align: left;

//   position: relative;
//   width: 315px;
// }
// .buttonwalktrough {

//   border-radius: 12px;
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
//   align-items: flex-start;
//   justify-content: center;
//   flex-shrink: 0;
//   height: 67px;
//   position: relative;
// }
// .g-till-genomg-ng {
//   color: #000000;
//   text-align: left;
//   font: 400 16px "Inter", sans-serif;
//   position: absolute;
//   left: 53px;
//   top: 24px;
// }


// .container-om {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
//   align-items: flex-start;
//   justify-content: flex-start;
//   flex-shrink: 0;
//   width: 1214px;
//   position: relative;
//   margin-bottom: 50px;
//   background: #ffffff;
//   border-radius: 12px;
//   flex-shrink: 0;
//   width: 1214px;
//   height: 629px;
//   position: relative;
// }


// .img {
//   border-radius: 23px;
//   flex-shrink: 0;
//   width: 507px;
//   height: 285px;
//   position: absolute;
//   left: 107px;
//   top: calc(50% - 142.5px);
// }
// .textbox {
//   display: flex;
//   flex-direction: column;
//   gap: 49px;
//   position: absolute;
//   left: 739px;
//   top: calc(50% - 139.5px);
// }
// .title {
//   display: flex;
//   flex-direction: column;
//   gap: 16px;
//   align-items: flex-start;
//   justify-content: flex-start;
//   flex-shrink: 0;
//   position: relative;
//   font-size: 40px;
// }

// .text {
//   color: #000000;
//   text-align: left;
//   font: var(--xlent, 400 20px/28px "Franklin Gothic Book", sans-serif);
//   position: relative;
//   width: 400px;
//   height: 185px;
// }