<div class="container">
    <app-title></app-title>

    <div class="overall-progress">
        <mat-card>
        <h2 class="title">Onboarding status</h2>
        <mat-progress-bar mode="determinate" [value]="calculateOverallTaskProgress()"></mat-progress-bar>
        <span class="progress-text">{{ calculateOverallTaskProgress() }}% klart</span>
        <mat-icon *ngIf="isAllTasksCompleted" class="checkmark-icon">check_circle</mat-icon>
</mat-card>
</div>
    <app-walkthrough></app-walkthrough>
    <app-about></app-about>
    <app-portraits></app-portraits>
    </div>

