<div class="title">
  <h1>Admin</h1>
  <h4>Sida för att administrera personer och checklista</h4>
</div>
<div class="container">
  <app-manage-tasks
  [person]="selectedPerson$ | async"
  (createTask)="createTask($event)"
  (removeTask)="removeTask($event)"
  ></app-manage-tasks>

  <app-manage-persons
    [allPersons]="allPersons$ | async"
    (createPerson)="createPerson($event)"
    (removePerson)="removePerson($event)"
    (toggleActive)="toggleActivePerson($event)"
    ></app-manage-persons>
</div>
