

#c1{
  border-radius: 12px 0px 0px 12px;

}
#c2{
  border-radius: 0;

}
#c3{
  border-radius: 0px 12px 12px 0px;
}

mat-card-title{
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.text-label {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 20px;
  padding-bottom: 15px;


}

.directions_walk{
  width: 22px;
  height: 22px;
}


.benefits{
  display: flex;

  width: 100%; /* Or adjust to your preferred width */
  margin-bottom: 5px; /* Spacing between cards */
  max-width: 1000px;
  text-align: left;
}

mat-card {
  display: flex;
  flex-direction: column;
  width: 100%; /* Or adjust to your preferred width */
  margin-bottom: 5px; /* Spacing between cards */
  box-shadow: none;
  max-width: 500px;
  min-height: 200px;
  padding: 0px 12px 0px 12px;
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin-bottom: 0px;
}

.benefits{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Or adjust to your preferred width */
}

#c1{
  border-radius: 12px 12px 0px 0px;
}
#c2{
  border-radius: 0;
}
#c3{
  border-radius: 0px 0px 12px 12px;
}
}
