<div class="walkthrough">
    <div class="benefits">

        <!-- Genomgång Card -->
        <mat-card class="container" id="c1">
            <mat-card-header>
                <mat-card-title>
                    <div class="text-label">
                        <mat-icon class="directions_walk" aria-hidden="false" aria-label="Example home icon"
                            fontIcon="directions_walk"></mat-icon>
                        Genomgång
                    </div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="description">
                    Här får du en snabb introduktion över de områden som är viktiga för dig som nyanställd
                </div>
            </mat-card-content>
        </mat-card>

        <!-- Checklistan Card -->
        <mat-card class="container" id="c2">
            <mat-card-header>
                <mat-card-title>
                    <div class="text-label">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="checklist"></mat-icon>
                        Checklistan
                    </div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="description">
                    Checklistan finns för att hjälpa dig genom hela din onboardingprocess. Du gör uppgifterna i den ordning som passar
                    dig bäst
                </div>
            </mat-card-content>
        </mat-card>

        <!-- Länkar Card -->
        <mat-card class="container" id="c3">
            <mat-card-header>
                <mat-card-title>
                    <div class="text-label">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="link"></mat-icon>Länkar

                    </div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="description">
                    <p>En samlingplats för bra-att-ha-länkar! Vi tipsar om att börja med "Medarbetarresan", den
                    hittar du under "Välkommen" på länksidan
                </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>