.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}

.titles {
  width: 65%;
  box-sizing: border-box;
  padding-right: 20px;
}

.title-heading {
  color: var(--tonalpalette-primary-primary-900, #0f0b2e);
  text-align: left;
  font-size: 72px;
  margin-bottom: 20px;
}

.title-subheading {
  color: var(--tonalpalette-primary-primary-900, #0f0b2e);
  text-align: left;
  font-size: 15px;
}

.image-4 {
  width: 30%;
  max-width: 342px;
  height: auto;
}


@media only screen and (max-width: 768px) {
  .titles {
    width: 100%;
    padding-right: 0;
  }

  .title-heading {
    font-size: 36px;
    line-height: 45px;
  }

  .title-subheading {
    font-size: 16px;
    line-height: 24px;
  }

  .image-4 {
    display: none;
    width: 100%;
    margin-top: 20px;
  }
}