  .titel {
    display: flex;
    flex-direction: row;
    gap: 276px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    margin-top: 50px;
  }
  .titlar {
    flex-shrink: 0;
    width: 588px;
    height: 178px;
    position: static;
  }
  .titel-rubrik {
    color: var(--tonalpalette-primary-primary-900, #0f0b2e);
    text-align: left;
    font: 400 72px/90px "Franklin Gothic Demi", sans-serif;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 588px;
  }
  .titel-underrubrik {
    color: var(--tonalpalette-primary-primary-900, #0f0b2e);
    text-align: left;
    font: 400 20px/32px "Franklin Gothic Book", sans-serif;
    position: absolute;
    left: 0px;
    top: 180px;
    width: 497px;
  }
  .image-4 {
    flex-shrink: 0;
    width: 342px;
    height: 307px;
    position: relative;
  }