.titel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}

.titlar {
  width: 65%; /* Take up 65% of the container width */
  box-sizing: border-box;
  padding-right: 20px; /* Some spacing between the text and the image */
}

.titel-rubrik {
  color: var(--tonalpalette-primary-primary-900, #0f0b2e);
  text-align: left;
  font-size: 72px;
  margin-bottom: 20px; /* Spacing between title and subtitle */
}

.titel-underrubrik {
  color: var(--tonalpalette-primary-primary-900, #0f0b2e);
  text-align: left;
  font-size: 15px;
}

.image-4 {
  width: 30%; /* Take up 30% of the container width */
  max-width: 342px;
  height: auto; /* Adjusts the height based on the width while maintaining aspect ratio */
}

/* Media Query for Mobile Screens */
@media only screen and (max-width: 768px) {
  .titlar {
    width: 100%; /* Take up full width on mobile */
    padding-right: 0; /* Remove padding */
  }

  .titel-rubrik {
    font-size: 36px; /* Reduce font size for mobile */
    line-height: 45px;
  }

  .titel-underrubrik {
    font-size: 16px; /* Reduce font size for mobile */
    line-height: 24px;
  }

  .image-4 {
    display: none;
    width: 100%; /* Image takes full width on mobile */
    margin-top: 20px; /* Spacing between the subtitle and the image */
  }
}
