@import 'material-extensions';
@import 'theme';

/* Global styles */
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
}

.inactive {
  opacity: 50%;
}

.form-button {
  margin: 10px;
}

