<div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
     
      <mat-expansion-panel-header>

        <mat-panel-title>
          <mat-checkbox color="primary"></mat-checkbox>
          </mat-panel-title>

        <mat-panel-title>
         Tasklista 1
        </mat-panel-title>

        <mat-panel-description>
          ansvarig: Christian
  
        </mat-panel-description>

      </mat-expansion-panel-header>
  
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field>
  

      
    </mat-expansion-panel>

   <mat-expansion-panel></mat-expansion-panel>
   
  </mat-accordion>
  