<div class="container">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>{{ taskType?.name }}</mat-panel-title>

            <mat-progress-bar mode="determinate" [value]="taskPercent"></mat-progress-bar>

        </mat-expansion-panel-header>

        <ng-container>
            <ng-container *ngFor="let personTask of personTasks; let taskIndex = index">

                <div class="task">
                    <mat-checkbox [(ngModel)]="personTask.isCompleted" color="primary"
                        (ngModelChange)="onTaskStatusChange(personTask)"></mat-checkbox>

                    <div class="task-text">
                        <p class="title">

                            @if (personTask.task.url) {
                            <a [attr.href]="personTask.task.url" target="_blank">{{ personTask.task.title }}</a>
                            }
                            @else {
                            <span class="noLink">{{ personTask.task.title }}</span>
                            }

                        </p>
                        <p>{{ personTask.task.description }}</p>
                    </div>
                </div>

            </ng-container>
        </ng-container>
    </mat-expansion-panel>
</div>