.container {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.task-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.task-text {
  text-align: left;
  max-width: 450px;

  p {
    margin-bottom: 5px;

  }


}


mat-expansion-panel {
  margin-top: 1px;
  margin-bottom: 1px;


}

mat-expansion-panel-header {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 600px;

}

mat-accordion {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1000px;
  justify-content: center;

}

mat-progress-bar {
  width: 60%;
  margin-right: 10px;

}


@media screen and (max-width: 768px) {
  .container {
    align-items: unset;
  }

  .mat-accordion {
    padding: 10px;
  }


  mat-expansion-panel-header {
    margin-top: 10px;
    margin-bottom: 10px;
    width: unset;
  }


}