.progressbar-container {
    position: absolute;
    bottom: 20px;   /* Positionera progress-baren nära botten av .container */
    left: 107px;   /* Samma vänstermarginal som .img för konsistens */
    width: 70%;    /* Anpassa efter hur bred du vill ha progress-baren */
    height: 20px;
    background-color: #e0e0e0;  /* Bakgrundsfärg för progress-baren */
    border-radius: 10px;       /* Avrundade hörn */
}

.progressbar {
    height: 100%;
    width: 0;       /* Startvärde */
    background-color: #4CAF50;  /* Färg för progress */
    border-radius: 10px;       /* Avrundade hörn */
}
