body, html {
  margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}


@media only screen and (max-width: 768px) {
  table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
  }



}

header{
  background-color: #ffff;

}


.mat-toolbar {
  height: 7vh;
  display: flex;
  align-items: center;
  background-color: #ffff;
  justify-content: space-between;
  margin: 0 auto;
  min-width: 768px;
  max-width: 1050px;

}

div {
  overflow: inherit;
}

.mat-sidenav-container {
  min-height: 93vh !important;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  white-space: normal;
}

button {
  font-family: 'Poppins', sans-serif;
  min-width: min-content;
  box-shadow: none;
}

button:hover {
  box-shadow: none !important;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content {

  text-align: center;
  flex: 1;
}

.mobile-nav-button {
  display: block;
}

.desktop-nav-links {
  display: flex;
  gap: 20px;
}

.sidenav {
  display: none;
  flex-direction: column;
}

.sidenav-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 25px;
  overflow: hidden;

}

.left-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
}

.logo {
  margin: 0;
  padding: 0;
  padding-top: 10px;

}


@media (min-width: 768px) {
  .mobile-nav-button {
    display: none;
  }

  .sidenav {
    display: none !important;
  }

  .desktop-nav-links {
    display: flex;
  }


}

@media (max-width: 767px) {
  .desktop-nav-links {
    display: none;
  }

  .sidenav {
    display: flex;
    width: 60%;
  }
  .logo{
    margin: auto;
  }
  .mat-toolbar {
    min-width: 0;

  }

}

