  .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  mat-expansion-panel{
    margin-top: 1px;
    margin-bottom: 1px;
    
  }
  mat-expansion-panel-header {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  




// .subheading {
//   font-weight: bold;
// }

