<div class="titel">
  <h1>Kunskap</h1>
    <p>Här kan du se saker som kan vara bra att veta</p>

</div>
<div class="container">
  <mat-accordion>
  <h1>Fokusgrupper</h1>
  <p>Detta är grupper som...</p>
  <mat-expansion-panel *ngFor="let group of focusGroups">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ group.heading }}
      </mat-panel-title>
      <mat-panel-description>
        <div class="subheading"> {{group.subheading}}</div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let task of group.tasks">{{ task }}</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  </mat-accordion>

  <h1>Annat</h1>

</div>