<div class="knowledge">
  <div class="container">
    <div class="title">
      <div class="heading">Kunskap</div>
      <div class="subheading">
        Här får du en introduktion till din arbetsplats som nyanställd
      </div>
    </div>
    <div class="boxes">
      <div class="ansvar">
        <div class="textbox-1">
          <div class="heading2">Ansvar</div>
          <div class="text"></div>
          <div class="p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          </div>
        </div>
      </div>
      <div class="ansvar">
        <div class="textbox-1">
          <div class="heading2">Fokusgrupper</div>
          <div class="text">
            <div class="p">
              Triveslgrupp1: In hac habitasse platea dictumst.
            </div>
            <div class="p">
              Triveslgrupp2: In hac habitasse platea dictumst.
            </div>
            <div class="p">
              Triveslgrupp3: In hac habitasse platea dictumst.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="boxes">
      <div class="ansvar">
        <div class="textbox-1">
          <div class="heading2">Ansvar</div>
          <div class="text"></div>
        </div>
      </div>
      <div class="ansvar">
        <div class="textbox-1">
          <div class="heading2">Fokusgrupper</div>
          <div class="text">
            <div class="p">
              Triveslgrupp1: In hac habitasse platea dictumst.
            </div>
            <div class="p">
              Triveslgrupp2: In hac habitasse platea dictumst.
            </div>
            <div class="p">
              Triveslgrupp3: In hac habitasse platea dictumst.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
