.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

mat-expansion-panel {
  margin-top: 2px;
  margin-bottom: 2px;
}

mat-accordion {
  margin-bottom: 40px;
  width: 100%
}

p {
  padding-bottom: 20px;
}

mat-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
}