<div class="links">
  <div class="container">
    <div class="title">
      <div class="heading">Länkar</div>
      <div class="subheading">
        Här får du en introduktion till din arbetsplats som nyanställd
      </div>
    </div>
    <div class="boxes">
      <div class="general-1">
        <div class="textbox">
          <div class="box-heading">Allmänt</div>
          <div class="textbox-links">
            <div class="link">Intranätet</div>
            <div class="link">Workplace</div>
            <div class="link">Cinode</div>
            <div class="link">
              Varumärkessidan med logotyp, mallar och bilder
            </div>
          </div>
        </div>
      </div>
      <div class="general-2">
        <div class="textbox">
          <div class="box-heading">Allmänt</div>
          <div class="textbox-links">
            <div class="link">Intranätet</div>
            <div class="link">Workplace</div>
            <div class="link">Cinode</div>
            <div class="link">
              Varumärkessidan med logotyp, mallar och bilder
            </div>
          </div>
        </div>
      </div>
      <div class="general-1">
        <div class="textbox">
          <div class="box-heading">Allmänt</div>
          <div class="textbox-links">
            <div class="link">Intranätet</div>
            <div class="link">Workplace</div>
            <div class="link">Cinode</div>
            <div class="link">
              Varumärkessidan med logotyp, mallar och bilder
            </div>
          </div>
        </div>
      </div>
      <div class="general-2">
        <div class="textbox">
          <div class="box-heading">Allmänt</div>
          <div class="textbox-links">
            <div class="link">Intranätet</div>
            <div class="link">Workplace</div>
            <div class="link">Cinode</div>
            <div class="link">
              Varumärkessidan med logotyp, mallar och bilder
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
