<div class="titel">
  <h1>Länkar</h1>
  <h4>Här får du tillgång till användbara länkar</h4>
</div>

<div class="container">
  <div class="top-container">
    <mat-card>
      <mat-card-content>
        <mat-card-header>Allmänt</mat-card-header>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <a href="https://xlent.sharepoint.com/sites/XCG">Intranätet</a>
          </mat-list-item>

          <mat-list-item role="listitem">
            <a
              href="https://xlent.sharepoint.com/sites/Medarbetarresan/SitePages/Medarbetarresan.aspx"
              >Medarbetarresan</a
            >
          </mat-list-item>

          <mat-list-item role="listitem">
            <a
              href="https://xlent.sharepoint.com/sites/CentralSupportFunctions/SitePages/Varumärken.aspx"
              >Varumärkessidan med <br />
              logotyp, mallar och bilder
            </a>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <mat-card-header>Personalresurser</mat-card-header>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <a href="https://xlent.sharepoint.com/sites/XCG">Sympa</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <a
              href="https://xlent.sharepoint.com/sites/Files/Varumrken/Forms/AllItems.aspx?id=%2Fsites%2FFiles%2FVarumrken%2FXLENT%2FMailsignatur%2Ezip&parent=%2Fsites%2FFiles%2FVarumrken%2FXLENT"
              >E-postsignatur</a
            >
          </mat-list-item>

          <mat-list-item role="listitem">
            <a
              href="https://xlent.sharepoint.com/sites/Files/Varumrken/Forms/AllItems.aspx?id=%2Fsites%2FFiles%2FVarumrken%2FXLENT%2FMailsignatur%2Ezip&parent=%2Fsites%2FFiles%2FVarumrken%2FXLENT"
              >Jämställdhets resurser</a
            >
          </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

  <div class="bottom-container">
    <mat-card>
      <mat-card-content>
        <mat-card-header>Verktyg och Program</mat-card-header>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <a
              href="https://xlent.sharepoint.com/:p:/s/XLENTLule/EZCDlaCm-N5Esv-uBhnT5mkBoFyWY0j9cteIbkG4Ftbojg?e=MO4xBe"
            >
              Cinode</a
            >
          </mat-list-item>
          <mat-list-item role="listitem">
            <a href="https://xlent.sharepoint.com/sites/XCG">Workplace</a>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card style="width: 300px">
      <mat-card-content>
        <mat-card-header>Kommunikation</mat-card-header>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <a href="https://xcg.freshservice.com/support/solutions"
              >Frågor och svar CSF support
            </a>
          </mat-list-item>

          <mat-list-item role="listitem">
            <a
              href="https://xlent.sharepoint.com/:p:/s/XLENTLule/EZCDlaCm-N5Esv-uBhnT5mkBoFyWY0j9cteIbkG4Ftbojg?e=MO4xBe"
            >
              Information om Cinode</a
            >
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
