<!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="links" >
    <div class="container" >
          <div class="title" >
                <div class="heading" >
Länkar </div>
                <div class="subheading" >
Här får du en introduktion till din arbetsplats som nyanställd </div>
          </div>
          <div class="boxes" >
                <div class="general-1" >
                      <div class="textbox" >
                            <div class="om-xlent" >
Allmänt </div>
                            <div class="texbox-links" >
                                  <div class="intran-tet" >
Intranätet </div>
                                  <div class="workplace" >
Workplace </div>
                                  <div class="cinode" >
Cinode </div>
                                  <div class="varum-rkessidan-med-logotyp-mallar-och-bilder" >
Varumärkessidan med logotyp, mallar och bilder </div>
                            </div>
                      </div>
                </div>
                <div class="general-2" >
                      <div class="texbox" >
                            <div class="om-xlent" >
Allmänt </div>
                            <div class="texbo-links" >
                                  <div class="medarbetarresan" >
Medarbetarresan </div>
                                  <div class="workplace2" >
Workplace </div>
                                  <div class="varum-rkessidan-med-logotyp-mallar-och-bilder2" >
Varumärkessidan med logotyp, mallar och bilder </div>
                                  <div class="lathundar-maconomy" >
Lathundar Maconomy </div>
                                  <div class="fr-gor-och-svar-csf-support" >
Frågor och svar CSF support </div>
                                  <div class="intran-tet2" >
Intranätet </div>
                                  <div class="cinode2" >
Cinode </div>
                            </div>
                      </div>
                </div>
                <div class="specific-1" >
                      <div class="textbox2" >
                            <div class="om-xlent2" >
Specifikt </div>
                            <div class="texboxlinks" >
                                  <div class="skapa-en-email-signatur-g-r-ocks-kopiera-en-befintlig-e-postsignaturen-finns-att-ladda-ner-h-r" >
                                        <span>
                                              <span class="skapa-en-email-signatur-g-r-ocks-kopiera-en-befintlig-e-postsignaturen-finns-att-ladda-ner-h-r-span">Skapa en email signatur, går också kopiera en befintlig. </span>
                                              <span class="skapa-en-email-signatur-g-r-ocks-kopiera-en-befintlig-e-postsignaturen-finns-att-ladda-ner-h-r-span2">E-postsignaturen finns att ladda ner</span>
                                              <span class="skapa-en-email-signatur-g-r-ocks-kopiera-en-befintlig-e-postsignaturen-finns-att-ladda-ner-h-r-span3"> här.</span>
                                        </span>
                                  </div>
                                  <div class="fr-gor-och-svar-csf-support2" >
Frågor och svar CSF support </div>
                                  <div class="medarbetarresan2" >
Medarbetarresan </div>
                                  <div class="lathundar-maconomy2" >
Lathundar Maconomy </div>
                            </div>
                      </div>
                </div>
                <div class="specific-2" >
                      <div class="textbox2" >
                            <div class="om-xlent2" >
Specifikt </div>
                            <div class="textbox-links" >
                                  <div class="skapa-en-email-signatur-g-r-ocks-kopiera-en-befintlig-e-postsignaturen-finns-att-ladda-ner-h-r" >
                                        <span>
                                              <span class="skapa-en-email-signatur-g-r-ocks-kopiera-en-befintlig-e-postsignaturen-finns-att-ladda-ner-h-r-span4">Skapa en email signatur, går också kopiera en befintlig. </span>
                                              <span class="skapa-en-email-signatur-g-r-ocks-kopiera-en-befintlig-e-postsignaturen-finns-att-ladda-ner-h-r-span5">E-postsignaturen finns att ladda ner</span>
                                              <span class="skapa-en-email-signatur-g-r-ocks-kopiera-en-befintlig-e-postsignaturen-finns-att-ladda-ner-h-r-span6"> här.</span>
                                        </span>
                                  </div>
                                  <div class="fr-gor-och-svar-csf-support2" >
Frågor och svar CSF support </div>
                                  <div class="medarbetarresan2" >
Medarbetarresan </div>
                                  <div class="lathundar-maconomy2" >
Lathundar Maconomy </div>
                            </div>
                      </div>
                </div>
          </div>
    </div>
</div>