// .links {
//   background: #ffffff;
//   padding: 182px 99px 182px 99px;
// }
mat-card-content {
  display: flex !important;
  flex-direction: column !important;
  gap: 70px;
  align-items: center;
  
}
