.links {
  background: #f2f2f2;
  padding: 182px 99px 182px 99px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  flex: 1;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: left;
  font-size: 70px;
}

.subheading {
  text-align: center;
  font-size: 20px;
  width: 333px;
}

.boxes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 1238px;
}

.general-1 {
  background: #ffffff;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 609px;
  height: 574px;
  position: relative;
}

.general-2 {
  background: #ffffff;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 609px;
  position: relative;
}

.textbox {
  display: flex;
  flex-direction: column;
  gap: 37px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 475px;
  position: absolute;
  left: 46px;
  top: 45px;
}

.box-heading {
  font-size: 40px;
  position: relative;
  width: 438px;
}

.textbox-links {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 416px;
  position: relative;
}

.link {
  font-size: 20px;
  text-decoration: underline;
}
