<h2>Hantera kategorier
  <button *ngIf="!selectedType" mat-button color="primary" (click)="add()">
    <span>Lägg till</span>
    <mat-icon>add</mat-icon>
  </button>
</h2>
<form *ngIf="selectedType" #myForm="ngForm" [formGroup]="taskTypeForm" (ngSubmit)="save(); myForm.resetForm()">
  <mat-form-field appearance="outline">
    <mat-label>Namn</mat-label>
    <input matInput formControlName="name" placeholder="Namn" placeholder="Ange namn" required />
  </mat-form-field>
  <app-form-error-message [control]="taskTypeForm.get('name')"></app-form-error-message>

  <div>
    <button mat-raised-button color="primary" class="form-button" type="submit"
      [disabled]="taskTypeForm.invalid">Spara</button>
    <button mat-raised-button color="secondary" class="form-button"
      (click)="selectedType = null; myForm.resetForm()">Avbryt</button>
  </div>
</form>

<mat-list class="form-list" *ngFor="let taskType of taskTypes">
  <mat-list-item>
    <span matListItemTitle>
      <p>{{ taskType.name }}</p>

      <span>
        <button mat-icon-button color="primary" (click)="select(taskType)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="deleteTaskTypeDialog(taskType.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </span>
    </span>
  </mat-list-item>
</mat-list>