<ng-container>
  <ng-container class="form">
    <h2>Lägg till kategori</h2>
    <form [formGroup]="taskTypeForm" (ngSubmit)="addTaskType();">
      <mat-form-field appearance="outline">
        <mat-label>Namn</mat-label>
        <input matInput formControlName="newTaskType" placeholder="Namn" placeholder="Ange namn" required />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="taskTypeForm.invalid">Lägg till
        kategori</button>
    </form>
  </ng-container>
</ng-container>

<div class="deleteTask" *ngFor="let taskType of taskTypes">
  {{ taskType.name }}
  <button mat-button color="warn" (click)="deleteTaskTypeDialog(taskType.id)">
    <mat-icon>delete_forever</mat-icon>
  </button>
</div>