.journey,
.journey * {
  box-sizing: border-box;
}
.journey {
  padding: 90px 0px 90px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;


}
.journey__container {
  flex-shrink: 0;
  width: 1272px;
  height: 7139px;
  position: relative;
}
.journey__stig{
  position: absolute;
  left: calc(50% - 408px);
  top: -4px;
  overflow: visible;

}
#base-path {
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;

}

#highlightPath {
  stroke: #fcb814;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 20000; // Adjust as needed based on the actual length of your path
  stroke-dashoffset: 20000; // Initially hide the path
  transition: stroke-dashoffset 0.6s ease-in-out; // Longer duration and ease-in-out timing
}


.ellipse-lit {
  transition: all 0.2s ease-in-out;
  background: #fcb814 !important;
  transform: scale(1.1); /* Example: Scale up the ellipse */
  // Add other styles or transitions as needed
}

.checklist-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


.journey__hej {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 377px;
  top: -21px;
}
.journey__textbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.journey__heading-text {
  color: #000000;
  text-align: center;
  font: 400 36px/32px "Franklin Gothic Demi", sans-serif;
  position: relative;
}
.journey__text {
  color: #000000;
  text-align: left;
  font: 400 15px/19px "Franklin Gothic Book", sans-serif;
  position: relative;
  width: 240px;
}
.journey__ellipse-13 {
  margin: 0 0 0 -20px;
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 33px;
  height: 33px;
  position: relative;
  transition: all 0.6 ease-in-out // Change the background color to orange

}
.journey__ready {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 73px;
  top: 1462px;
}
.journey__textbox2 {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 230px;
  height: 211px;
  position: relative;
}
.journey__heading-text2 {
  color: #000000;
  text-align: right;
  font: 400 25px/32px "Franklin Gothic Demi", sans-serif;
  position: relative;
  width: 98px;
  height: 34px;
}
.journey__text2 {
  color: #000000;
  text-align: left;
  font: 400 15px/19px "Franklin Gothic Book", sans-serif;
  position: relative;
  width: 230px;
}
.journey__ellipse-15 {
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 33px;
  height: 33px;
  position: relative;
}
.journey__buddy-coach {
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 849px;
  top: 2540px;
}
.journey__ellipse-23 {
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 33px;
  height: 33px;
  position: relative;
}
.journey__textbox3 {
  padding: 0px 14px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.journey__heading-text3 {
  color: #000000;
  text-align: left;
  font: 400 25px/32px "Franklin Gothic Demi", sans-serif;
  position: relative;
  width: 151px;
  height: 32px;
}
.journey__text3 {
  color: #000000;
  text-align: left;
  font: 400 15px/19px "Franklin Gothic Book", sans-serif;
  position: relative;
  width: 306px;
}
.journey__digital-setup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 233px;
  position: absolute;
  left: 120px;
  top: 3478px;
}
.journey__heading-text4 {
  color: #000000;
  text-align: right;
  font: 400 25px/32px "Franklin Gothic Demi", sans-serif;
  position: relative;
  width: 140px;
  height: 32px;
}
.journey__text4 {
  color: #000000;
  text-align: left;
  font: 400 15px/19px "Franklin Gothic Book", sans-serif;
  position: relative;
  width: 214px;
}
.journey__ellipse-17 {
  margin: 0 0 0 -22px;
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 33px;
  height: 33px;
  position: relative;
}
.journey__consultant {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 920px;
  top: 4279px;
}
.journey__ellipse-18 {
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 33px;
  height: 33px;
  position: relative;
}
.journey__textbox4 {
  padding: 0px 43px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.journey__heading-text5 {
  color: #000000;
  text-align: left;
  font: 400 25px/32px "Franklin Gothic Demi", sans-serif;
  position: relative;
  width: 172px;
  height: 32px;
}
.journey__text5 {
  color: #000000;
  text-align: left;
  font: 400 15px/19px "Franklin Gothic Book", sans-serif;
  position: relative;
  width: 249px;
}
.journey__focusgroups {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 220px;
  position: absolute;
  left: 59px;
  top: 5255px;
}
.journey__heading-text6 {
  color: #000000;
  text-align: right;
  font: 400 25px/32px "Franklin Gothic Demi", sans-serif;
  position: relative;
  width: 151px;
  height: 32px;
}
.journey__ellipse-21 {
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 33px;
  height: 33px;
  position: relative;
}
.journey__ellipse-22 {
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 33px;
  height: 33px;
  position: relative;
}
.journey__equal {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 931px;
  top: 6154px;
}
.journey__ellipse-20 {
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 33px;
  height: 33px;
  position: relative;
}
.journey__textbox5 {
  padding: 0px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.journey__text6 {
  color: #000000;
  text-align: left;
  font: 400 25px/32px "Franklin Gothic Demi", sans-serif;
  position: relative;
  width: 187px;
  height: 32px;
}
.journey__heading-text7 {
  color: #000000;
  text-align: left;
  font: 400 15px/19px "Franklin Gothic Book", sans-serif;
  position: relative;
  width: 249px;
}
.journey__end {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 196px;
  position: absolute;
  left: 454px;
  top: 6781px;
}
.journey__end2 {
  padding: 0px 0px 0px 134px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.journey__end3 {
  padding: 0px 516px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.journey__heading-text8 {
  color: #000000;
  text-align: left;
  font: 400 25px/32px "Franklin Gothic Demi", sans-serif;
  position: relative;
}
.journey__text7 {
  color: #000000;
  text-align: left;
  font: 400 15px/19px "Franklin Gothic Book", sans-serif;
  position: relative;
  width: 297px;
  height: 117px;
}
.journey__employment {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 495px;
  top: 701px;
}
.journey__ellipse-14 {
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 33px;
  height: 33px;
  position: relative;

}
.journey__textbox6 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.journey__heading-text9 {
  color: #000000;
  text-align: center;
  font: 400 25px/32px "Franklin Gothic Demi", sans-serif;
  position: relative;
  width: 245px;
  height: 30px;
}
.journey__text8 {
  color: #000000;
  text-align: left;
  font: 400 15px/19px "Franklin Gothic Book", sans-serif;
  position: relative;
  width: 327px;
}
