<h1>XLENT Resan</h1>
<p>Första steget som nyansälld</p>

<div class="journey-container">
    <div class="row end">
        <div class="box" id="odd" (click)="openDialogForFirstBox()">{{boxes[0].title}}</div>
    </div>
    <div class="row">
        <div class="box" (click)="openDialog(boxes[3])">{{boxes[3].title}}</div>
        <div class="box" (click)="openDialog(boxes[2])">{{boxes[2].title}}</div>
        <div class="box" (click)="openDialog(boxes[1])">{{boxes[1].title}}</div>
    </div>
    <div class="row start">
        <div class="box" id="odd" (click)="openDialog(boxes[4])">{{boxes[4].title}}</div>
    </div>

    <div class="row">
        <div class="box" (click)="openDialog(boxes[5])">{{boxes[5].title}}</div>
        <div class="box" (click)="openDialog(boxes[6])">{{boxes[6].title}}</div>
        <div class="box" (click)="openDialog(boxes[7])">{{boxes[7].title}}</div>
    </div>
    <div class="row end">
        <div class="box" id="odd" (click)="openDialog(boxes[8])">{{boxes[8].title}}</div>
    </div>
</div>
