<h2>Hantera personer
  <button *ngIf="!selectedPerson" mat-button color="primary" (click)="add()">
    <span>Lägg till</span>
    <mat-icon>add</mat-icon>
  </button>
</h2>

<form *ngIf="selectedPerson" #myForm="ngForm" [formGroup]="personForm" (ngSubmit)="submitForm(); myForm.resetForm()">
  <mat-form-field>
    <mat-label>Namn</mat-label>

    <input matInput MatFormFieldControl formControlName="name" placeholder="Ange namn" required />
  </mat-form-field>
  <app-form-error-message [control]="personForm.get('name')"></app-form-error-message>

  <mat-form-field appearance="outline" class="form-group">
    <mat-label>E-post</mat-label>

    <input matInput MatFormFieldControl formControlName="email" placeholder="Ange e-postadress" required type="text"
      email />
  </mat-form-field>
  <app-form-error-message [control]="personForm.get('email')"></app-form-error-message>

  <mat-label>Buddy</mat-label>
  <mat-radio-group formControlName="isBuddy">
    <mat-radio-button [value]="true">Ja</mat-radio-button>
    <mat-radio-button [value]="false">Nej</mat-radio-button>
  </mat-radio-group>

  <ng-container *ngIf="personForm.get('isBuddy')?.value === true">
    <mat-form-field>
      <mat-label>Buddy till</mat-label>
      <mat-select MatFormFieldControl formControlName="mentee">
        <mat-option [value]="null"></mat-option>
        <mat-option *ngFor="let person of allPersons" [value]="person">
          {{ person.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-form-error-message [control]="personForm.get('mentee')"></app-form-error-message>
  </ng-container>

  <div>
    <button mat-raised-button color="primary" class="form-button" type="submit"
      [disabled]="personForm.invalid">Spara</button>
    <button mat-raised-button color="secondary" class="form-button"
      (click)="selectedPerson = null; myForm.resetForm()">Avbryt</button>
  </div>
</form>

<mat-list class="form-list" *ngFor="let person of allPersons" [ngClass]="{'inactive': !person.isActive}">
  <mat-list-item>
    <span matListItemTitle>
      <mat-checkbox color="primary" [(ngModel)]="person.isActive"
        (change)="toggleActive.emit({ id: person.id, active: person.isActive })">
        <p>{{ person.name }}
          <i *ngIf="!person.isActive"> (Inaktiv)</i>
        </p>
      </mat-checkbox>

      <span>
        <button mat-icon-button color="primary" (click)="select(person)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="primary" (click)="openResetDialog(person.id)">
          <mat-icon>refresh</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="openDeleteConfirmationDialog(person.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </span>
    </span>
  </mat-list-item>
</mat-list>